
@{
    ViewData["Title"] = "EventsList";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserMain">User</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="EventForm">EventForm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="EventWindow">EventWindow</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>EventsList</h1>

