
@{
    ViewData["Title"] = "UserMain";
}

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserMain">User</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="PlayerList" asp-action="PlayerListWindow">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserProfileWindow">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<h1>UserMain</h1>



