@model IEnumerable<SportBook.Models.Invitation>
@{
    ViewData["Title"] = "ProfileWindow";
}

<h1>ProfileWindow</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Invitations
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    <a asp-action="acceptInvitation" asp-route-id="@item.InvitationId">Accept</a>
                    <a asp-action="rejectInvitation" asp-route-id="@item.InvitationId">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>

