
@{
    ViewData["Title"] = "TeamList";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserMain">User</a>
        </li>*@
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="MyTeamsWindow">My Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="ProfileWindow">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>TeamList</h1>

<form asp-action="TeamList" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="filter" value="@ViewData["filter"]" />
            <input type="submit" value="filter" class="btn btn-default" /> |
            <a asp-action="TeamList">Back to Full List</a>
        </p>
    </div>
</form>
<ul class="list-group">

    @foreach (string name in ViewData["teams"] as IList<string>)
    {
        <li class="list-group-item">@name</li>
    }

</ul>
