
@{
    ViewData["Title"] = "TeamManagementWindow";
}

<h1>TeamManagementWindow</h1>

<li class="list-group-item list-group-item-action">
    @ViewData["team"]
    <a asp-action="TeamManagementWindow" asp-route-id="asdf">Invite</a> |
    <a asp-action="" asp-route-id="asdf">Leave</a>
</li>